INSTANCE_TYPE=dev
JENKINS_URL=http://{{ jenkins_dns }}/jenkins-std
JENKINS_ADMIN_ADDRESS=Jenkins MVN <ci@tieto.com>

# Docker Cloud
DOCKER_HOST_URI=tcp://{{ hostvars.docker_cloud.ansible_host }}:2376

# Mailer plugin
SMTP_SERVER_USER=ci@tieto.com
SMTP_SERVER_PASSWORD=smtp_password
SMTP_HOST=mail-gw.konts.lv

# Tools
TOOLS_BASE_URL=http://localhost/tools

# Credentials
# Git
# TODO: In future investigate approach how to store these credentials in some remote secret key vault for security purposes - hashicorp, azure key vauts ... ?
GIT_SSH_URL=ssh://git@cvs.konts.lv:7999
GIT_SSH_USER=jenkins
GIT_SSH_KEY=-----BEGIN RSA PRIVATE KEY-----\nMIIEpAIBAAKCAQEAthgVGV+C/c9KY6VkESFlnAWrw........\n-----END RSA PRIVATE KEY-----\n

# Nexus
NEXUS_URL=http://nexus.local.net:8081
NEXUS_USER=jenkins
NEXUS_PASSWORD=nexus_password

OCI_KUBERNETES_SECRET=eyJhbGciOiJSUzI1NiI-.................
OCI_KUBERNETES_URL=https://c4deolgheyd.eu-frankfurt-1.clusters.oci.oraclecloud.com:6443
OCI_KUBERNETES_CERT=-----BEGIN CERTIFICATE-----\nMIIDjDCCAnSgAwIBAgIUMyJ9wL+zWqnfnzvyFJDw4mjDLsEwDQYJKoZIhvcNAQEL\nBQAw...........