version: "3"

services:
  {{ jenkins_std_prefix }}:
    image: {{ jenkins_std_image }}
    restart: always
    container_name: {{ jenkins_std_prefix }}
    hostname: {{ jenkins_std_prefix }}
    env_file:
      - ./dev.env
    environment:
      # List of variables delimited with space.
      - ESCAPED_VARIABLES=GIT_SSH_KEY OCI_KUBERNETES_CERT
      # YAML files for Configuration as a Code
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc/
    volumes:
      - log:/var/log/jenkins
      - data:/var/jenkins_home
      - builds:/var/jenkins_builds
      - {{ jenkins_std_file_path }}/configuration/casc:/var/jenkins_home/casc:ro

volumes:
  data:
  builds:
  log:

networks:
  default:
    external:
      name: {{ jenkins_docker_network_name }}