tool:
  allure:
    installations:
    - home: "/media/sf_shared/tools/allure-2.13.1"
      name: "allure-shared-folder"
    # - name: "allure-download-url"
    #   properties:
    #   - installSource:
    #       installers:
    #       - zip:
    #           url: "http://10.57.5.111/tools/allure-commandline.zip"
  customTool:
    installations:
    - name: "node-8.12.0"
      home: ""
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/node/node-v8.12.0-linux-x64.tar.gz"
    - name: "node-10.15.2"
      home: ""
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/node/node-v10.15.2-linux-x64.tar.gz"
    - name: "pytest-edge"
      home: ""
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/pytest/pytest-oel6.9-edge.tar.gz"
  git:
    installations:
    - home: "git"
      name: "Default"
  groovyInstallation:
    installations:
    - home: "/media/sf_shared/tools/groovy-2.4.7"
      name: "groovy-shared-folder"
  jdk:
    installations:
    - name: "JDK11"
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/jdk/jdk-11_28_linux-x64_bin.tar.gz"
    - name: "JDK10"
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/jdk/jdk-10.0.2_13_linux-x64_bin.tar.gz"
    - name: "JDK8"
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/jdk/jdk-8u181-linux-x64.tar.gz"
  maven:
    installations:
    - name: "3.6.0"
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/maven/apache-maven-3.6.0-bin.tar.gz"
  sonarRunnerInstallation:
    installations:
    - name: "SonarScanner"
      home: ""
      properties:
      - installSource:
          installers:
          - zip:
              url: "ftp://motorhead.konts.lv/ext/sonar/sonar-scanner-cli-4.0.0.1744-linux.zip"
