unclassified:
  appInsightsGlobalConfig:
    appInsightsEnabled: false
  badgePlugin:
    disableFormatHTML: false
  bitbucketEndpointConfiguration:
    endpoints:
    - bitbucketServerEndpoint:
        callCanMerge: false
        credentialsId: "491d3958-fdda-4a8a-9cc3-18bb9d7c1a91"
        displayName: "CS Stash"
        manageHooks: true
        serverUrl: "{{ stash_root_url }}"
        webhookImplementation: NATIVE
  buildStepOperation:
    enabled: false
  extendedEmailPublisher:
    adminRequiredForTemplateTesting: true
    allowUnregisteredEnabled: false
    charset: "UTF-8"
    debugMode: false
    defaultBody: "^${SCRIPT, template=\"default.template\"}"
    defaultContentType: "text/html"
    defaultPresendScript: "JENKINS_HOME = System.getProperty(\"JENKINS_HOME\")\r\n\
      evaluate(new File(\"^${JENKINS_HOME}/email-templates/pre-send.groovy\"))"
    defaultRecipients: "ci@tieto.com"
    defaultSubject: "http://{{ jenkins_dns }} - $PROJECT_NAME - Build # $BUILD_NUMBER\
      \ - $BUILD_STATUS!"
    defaultSuffix: "{{ jenkins_cs_email }}"
    maxAttachmentSize: -1
    maxAttachmentSizeMb: 0
    precedenceBulk: false
    smtpServer: "mail-gw.konts.lv"
    useSsl: false
    watchingEnabled: false
  gitHubPluginConfig:
    hookUrl: "http://{{ jenkins_dns }}/github-webhook/"
  gitSCM:
    createAccountBasedOnEmail: false
  globalConfigFiles:
    configs:
    - mavenSettings:
        comment: "maven-gs"
        content: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<settings \n\txmlns=\"\
          http://maven.apache.org/SETTINGS/1.1.0\" \n\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
          \ \n\txsi:schemaLocation=\"http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd\"\
          \ >\n  <servers>\n    <server>\n      <id>nexus-snapshots</id>\n    </server>\n\
          \    <server>\n      <id>nexus-releases</id>\n    </server>\n  </servers>\n\
          \  <mirrors>\n    <mirror>\n      <id>central</id>\n      <name>central</name>\n\
          \      <url>http://cvs.konts.lv:9081/repository/maven-group/</url>\n   \
          \   <mirrorOf>*</mirrorOf>\n    </mirror>\n  </mirrors>\n  <interactiveMode>false</interactiveMode>\n\
          \  <localRepository>^${localMirror}</localRepository>\n</settings>"
        id: "Global-Maven-Settings-Test"
        isReplaceAll: true
        name: "Global-Maven-Settings-Test"
        providerId: "org.jenkinsci.plugins.configfiles.maven.MavenSettingsConfig"
        serverCredentialMappings:
        - credentialsId: "COMMON00-0000-0000-0000-000000000001"
          serverId: "nexus-snapshots"
        - credentialsId: "COMMON00-0000-0000-0000-000000000001"
          serverId: "nexus-releases"
  globalLibraries:
    libraries:
    - allowVersionOverride: false
      defaultVersion: "{{ jenkins_ci_pipe_branch }}"
      includeInChangesets: false
      name: "cs.test.ci_pipe"
      retriever:
        modernSCM:
          scm:
            git:
              credentialsId: "00000000-0000-0000-0000-000000000001"
              id: "574d1db5-fd40-48d1-a501-cfa4497c3d78"
              remote: "ssh://git@cvs.konts.lv:7999/TE_trm/cs.test.ci_pipe.git"
              traits:
              - "gitHubBranchDiscovery"
              - gitBrowser:
                  browser:
                    stash:
                      repoUrl: "http://cvs.konts.lv:7990/projects/TE_TRM/repos/cs.test.ci_pipe/"
  groovy:
    installations:
    - home: "/media/sf_shared/tools/groovy-2.4.7"
      name: "groovy-shared-folder"
  location:
    adminAddress: "CI <ci@tieto.com>"
    url: "http://{{ jenkins_dns }}"
  loginTheme:
    footer: "</div>"
    head: |
      <link rel="stylesheet" href="/css/style.css" type="text/css">
      <link rel="stylesheet" href="/css/ci_styles.css" type="text/css">
      <link rel="stylesheet" href="/css/ci_login.css" type="text/css">
    header: |-
      <div id="header">
          <div class="logo">
              <a id="jenkins-home-link" href="/">
                  <img src="/images/title.png" alt="title" width="139" id="jenkins-name-icon" height="34">
              </a>
          </div>
      </div>
      <div id="main-panel">
    useDefaultTheme: false
  mailer:
    authentication:
      password: "{AQAAABAAAAAQaDsDxDAr4aVJGBYo8Zb1UfGpv1zyCggMRSr/w5JtsrM=}"
      username: "ci@tieto.com"
    charset: "UTF-8"
    defaultSuffix: "@tieto.com"
    smtpHost: "mail-gw.konts.lv"
    useSsl: false
  mavenModuleSet:
    localRepository: "default"
  notifyBitbucket:
    considerUnstableAsSuccess: false
    credentialsId: "491d3958-fdda-4a8a-9cc3-18bb9d7c1a91"
    disableInprogressNotification: false
    ignoreUnverifiedSsl: true
    includeBuildNumberInKey: true
    prependParentProjectKey: false
    stashRootUrl: "http://cvs.konts.lv:7990"
  phabricatorNotifier:
    isBlueOceanEnabled: false
  pollSCM:
    pollingThreadCount: 10
  prometheusConfiguration:
    collectingMetricsPeriodInSeconds: 120
    countAbortedBuilds: true
    countFailedBuilds: true
    countNotBuiltBuilds: true
    countSuccessfulBuilds: true
    countUnstableBuilds: true
    defaultNamespace: "default"
    fetchTestResults: true
    jobAttributeName: "jenkins_job"
    path: "prometheus"
    processingDisabledBuilds: false
    useAuthenticatedEndpoint: false
  simple-theme-plugin:
    cssUrl: "/css/ci_styles.css"
    elements:
    - cssUrl:
        url: "/css/ci_styles.css"
    - jsUrl:
        url: "/scripts/ci_custom.js"
    jsUrl: "/scripts/ci_custom.js"
  sonarGlobalConfiguration:
    buildWrapperEnabled: false
    installations:
    - credentialsId: "sonar_token"
      name: "SonarScanner"
      serverUrl: "http://10.57.6.51"
      serverAuthenticationToken: ""
      mojoVersion: ""
      additionalProperties: ""
      additionalAnalysisProperties: ""
      triggers:
        envVar: ""
        skipScmCause: false
        skipUpstreamCause: false
  stashBuildTrigger:
    enablePipelineSupport: false
  timestamperConfig:
    allPipelines: true
    elapsedTimeFormat: "'<b>['HH:mm:ss.S']</b> '"
    systemTimeFormat: "'<b>['HH:mm:ss']</b> '"
  upstream:
    globalUpstreamFilterStrategy: UseOldest

