version: '3'

services:
  {{ nginx_prefix }}:
    image: {{ nginx_image }}
    container_name: {{ nginx_prefix }}
    hostname: {{ nginx_prefix }}
    restart: always
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

networks:
  default:
    external:
      name: {{ jenkins_docker_network_name }}